/**
 * color
 * 
 * primary: #B88E2F
 * secondary colors: #FFF3E3
 * fontcolor1: 333333
 * font color2 666
 *
 * @format
 */

/*HERO  SECTION   DESIGN*/
.hero {
    width: 100%;
    background-image: url(../images/hero-bg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    position: relative;
}
.hero__content {
    position: absolute;
    right: 0%;
    top: 50%;
    background-color: #fff3e3;
    margin-right: 4rem;
    padding: 2rem;
    width: 643px;
    transform: translateY(-50%);
}
.hero__content h4 {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #333333;
}
.hero__content h1 {
    color: #b88e2f;
    font-size: 5.4rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.8rem;
}
.hero__content p {
    font-size: 1.8rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #333333;
    line-height: 1.6;
    margin-bottom: 2rem;
    padding-right: 2rem;
}
.hero__btn {
    padding: 1.2rem 2.8rem;
    background-color: #b88e2f;
    margin-block: 1rem;
    display: inline-block;
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.4s;
}
.hero__btn:hover {
    background-color: #fff3e3;
    color: #b88e2f;
    border: 1px solid #b88e2f;
}

/*H-----------------------------------

catagories  styles
=================================*/
.catagories {
    width: 100%;
}
.cata__text {
    padding-block: 1rem;
    font-size: 1.6rem;
    color: #666;
    font-weight: 400;
}
.cata__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}
.cata__item {
    width: 100%;
    text-align: center;
}
.cata__item h3 {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #333333;
    padding-block: 1rem;
}

.cata__item img {
    width: 381px;
    display: block;
    height: auto;
    height: 480px;
    object-fit: cover;
    cursor: pointer;
    object-fit: cover;
    border-radius: 2rem;
}
.cta-section {
    background-color: #fcf8f3;
}

.cta__grid-col-4 {
    display: grid;
    grid-template-columns: 1fr 320px 300px 37px;
    padding-block: 4rem;
    gap: 2rem;
}
.cta__img2-img img {
    width: 100%;
    object-fit: cover;
}
.cta__img1 {
    background-image: url(../images/cta1.png);
    display: flex;
    align-items: end;
}

.cta__textbox {
    display: flex;
    align-items: center;
    padding-right: 2rem;
}
.cta__textbox-content h1 {
    line-height: 1.2;
}
.cta__textbox-content p {
    font-size: 1.6rem;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    color: #616161;
    line-height: 1.4;
    margin-block: 2rem;
    padding-right: 2rem;
}
.cta__btn {
    padding: 1.2rem 2.8rem;
    background-color: #b88e2f;
    margin-block: 1rem;
    display: inline-block;
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.4s;
}
.cta__btn:hover {
    background-color: #fff3e3;
    color: #b88e2f;
    border: 1px solid #b88e2f;
}
.cta__img1-inner {
    margin-left: 2rem;
    margin-bottom: 2rem;
    background-color: #fff;
    padding: 2rem;
}

.cta-icons p {
    display: flex;
    align-items: center;
    color: #616161;
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
}
.cta-ineer-text {
    color: #3a3a3a;
    font-size: 20px;
    font-weight: 400;
}
.img1__icon {
    margin-bottom: 2rem;
    background-color: #b88e2f;
    padding: 1rem;
}
.img1__icon .icons {
    color: #fcf8f3;
    cursor: pointer;
}

.cta__img2-img {
    position: relative;
}
.cta__img2-img {
    position: relative;
}
.slide-icon {
    position: absolute;
    right: 0%;
    top: 50%;

    background-color: #fcf8f3;
    padding: 1rem;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgb(0, 0, 0, 0.09);
    cursor: pointer;
    display: flex;
    justify-content: center;
}
.slide-icon .icons {
    color: #b88e2f;
}
.cta__img2--icons {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
    align-items: center;
}
.slide__radio {
    display: none;
}
.radio__circle {
    border-radius: 50%;

    display: block;
    cursor: pointer;

    padding: 1rem;
    position: relative;
}

.radio__circle::after {
    content: '';
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #d8d8d8;
    display: block;
    transition: all 0.4s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.slide__radio:checked + .radio__circle {
    border: #b88e2f 1px solid;

    padding: 1rem;
}
.slide__radio:checked + .radio__circle::after {
    background-color: #b88e2f;
}

