/**
 * color
 * 
 * primary: #B88E2F
 * secondary colors: #FFF3E3
 * fontcolor1: 333333
 * font color2 666
 *
 * @format
 */

/*HERO  SECTION   DESIGN*/
.hero {
    width: 100%;
    background-image: url(../images/hero-bg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    position: relative;
}
.hero__content {
    position: absolute;
    right: 0%;
    top: 50%;
    background-color: #fff3e3;
    margin-right: 4rem;
    padding: 2rem;
    width: 643px;
    transform: translateY(-50%);
}
.hero__content h4 {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #333333;
}
.hero__content h1 {
    color: #b88e2f;
    font-size: 5.4rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.8rem;
}
.hero__content p {
    font-size: 1.8rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #333333;
    line-height: 1.6;
    margin-bottom: 2rem;
    padding-right: 2rem;
}
.hero__btn {
    padding: 1.2rem 2.8rem;
    background-color: #b88e2f;
    margin-block: 1rem;
    display: inline-block;
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.4s;
}
.hero__btn:hover {
    background-color: #fff3e3;
    color: #b88e2f;
    border: 1px solid #b88e2f;
}

/*H-----------------------------------

catagories  styles
=================================*/
.catagories {
    width: 100%;
}
.cata__text {
    padding-block: 1rem;
    font-size: 1.6rem;
    color: #666;
    font-weight: 400;
}
.cata__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    overflow: hidden;
}
.cata__item {
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.cata__item h3 {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #333333;
    padding-block: 1rem;
}

.cata__item img {
    width: 381px;
    display: block;
    height: auto;
    height: 480px;
    object-fit: cover;
    cursor: pointer;
    object-fit: cover;
    border-radius: 2rem;
    transition: all 0.4s;
}
.cata__item img:hover {
    transform: scale(1.1);
}
.cta-section {
    background-color: #fcf8f3;
}

.cta__grid-col-4 {
    display: grid;
    grid-template-columns: 1fr 320px 300px 37px;
    padding-block: 4rem;
    gap: 2rem;
}
.cta__img2-img img {
    width: 100%;
    object-fit: cover;
}
.cta__img1 {
    background-image: url(../images/cta1.png);
    display: flex;
    align-items: end;
}

.cta__textbox {
    display: flex;
    align-items: center;
    padding-right: 2rem;
}
.cta__textbox-content h1 {
    line-height: 1.2;
}
.cta__textbox-content p {
    font-size: 1.6rem;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    color: #616161;
    line-height: 1.4;
    margin-block: 2rem;
    padding-right: 2rem;
}
.cta__btn {
    padding: 1.2rem 2.8rem;
    background-color: #b88e2f;
    margin-block: 1rem;
    display: inline-block;
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.4s;
}
.cta__btn:hover {
    background-color: #fff3e3;
    color: #b88e2f;
    border: 1px solid #b88e2f;
}
.cta__img1-inner {
    margin-left: 2rem;
    margin-bottom: 2rem;
    background-color: #fff;
    padding: 2rem;
}

.cta-icons p {
    display: flex;
    align-items: center;
    color: #616161;
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
}
.cta-ineer-text {
    color: #3a3a3a;
    font-size: 20px;
    font-weight: 400;
}
.img1__icon {
    margin-bottom: 2rem;
    background-color: #b88e2f;
    padding: 1rem;
}
.img1__icon .icons {
    color: #fcf8f3;
    cursor: pointer;
}

.cta__img2-img {
    position: relative;
}
.cta__img2-img {
    position: relative;
}
.slide-icon {
    position: absolute;
    right: 0%;
    top: 50%;

    background-color: #fcf8f3;
    padding: 1rem;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgb(0, 0, 0, 0.09);
    cursor: pointer;
    display: flex;
    justify-content: center;
}
.slide-icon .icons {
    color: #b88e2f;
}
.cta__img2--icons {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
    align-items: center;
}
.slide__radio {
    display: none;
}
.radio__circle {
    border-radius: 50%;

    display: block;
    cursor: pointer;

    padding: 1rem;
    position: relative;
}

.radio__circle::after {
    content: '';
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #d8d8d8;
    display: block;
    transition: all 0.4s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.slide__radio:checked + .radio__circle {
    border: #b88e2f 1px solid;

    padding: 1rem;
}
.slide__radio:checked + .radio__circle::after {
    background-color: #b88e2f;
}

.grid-col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}
.product-images {
    display: flex;
    align-items: center;
    margin-right: 3rem;
    gap: 3rem;
}
.product-main-image img {
    width: 100%;
    height: auto;
    cursor: pointer;
    display: block;
    transition: all 0.4s;
}
.product-main-image {
    width: 481px;
    height: 500px;
    background-color: #f9f1e7;
    border-radius: 2rem;
    display: flex;
    align-items: center;
}
.product-gallary {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.product-gallary-item {
    background-color: #f9f1e7;
    border-radius: 1.8rem;
    height: 80px;
    width: 76px;
}
.product-gallary-item img {
    width: 100%;
    padding: 1rem;
    transition: all 0.4s;
    cursor: pointer;
}
.product-gallary-item img:hover,
.product-main-image img:hover {
    transform: scale(1.1);
}
.prod__title {
    margin-bottom: 2rem;
}
.prod__title h2 {
    font-size: 4rem;
    color: #333333;
    font-weight: 600;
}
.prod__title span {
    font-size: 2rem;
    color: #9f9f9f;
}
.prod__rating {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    gap: 2rem;
}
.prod__stars {
    border-right: 1px solid #9f9f9f;
    padding-right: 0.8rem;
}
.prod__reviews span {
    color: #9f9f9f;
    font-size: 1.3rem;
}
.prod__desc-text p {
    font-size: 1.3rem;
    color: #333333;
    margin-bottom: 2rem;
    line-height: 1.5;
}
.prod__size,
.prod__color {
    display: flex;

    gap: 1rem;
    margin-bottom: 2rem;
    flex-direction: column;
}
.prod__size span,
.prod__color span {
    color: #9f9f9f;
    font-size: 1.4rem;
}
.prod__size ul,
.color-options {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
.prod__size ul li {
    background-color: #f9f1e7;
    padding: 0.8rem 1.2rem;
    border-radius: 0.5rem;
    font-size: 1.3rem;
    cursor: pointer;
    color: #3a3a3a;
    transition: all 0.4s;
}
.prod__size ul li:hover {
    background-color: #b88e2f;
    color: #fff;
}
.color {
    display: none;
}
.color-select {
    height: 30px;
    width: 30px;

    display: block;
    border-radius: 50%;
    transition: all 0.4s;
    cursor: pointer;
}

.color-options li:nth-child(1) .color-select {
    background-color: #816dfa;
}

.color-options li:nth-child(2) .color-select {
    background-color: #333333;
}

.color-options li:nth-child(3) .color-select {
    background-color: #b88e2f;
}
.prod__btn {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-block: 1rem;
}
.qty__input {
    width: 50px;
    text-align: center;
    background-color: transparent;
    outline: none;
}
.qty button {
    background-color: transparent;
}
.qty,
.prod__btn--cart,
.prod__btn--wishlist {
    background-color: transparent;
    border: 1px solid #9f9f9f;
    padding: 0.8rem 1rem;
    border-radius: 1rem;
    font-size: 1.4rem;
    cursor: pointer;
    display: inline-block;
}
.prod__btn-buttons {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.divider {
    margin-block: 4rem;
    border-bottom: 1px solid #9f9f9f;
}
.prod__share li {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.product-share {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.4rem;
    color: #9f9f9f;
}
.prod-id {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.prod-id p {
    padding-bottom: 1rem;
}
.prod-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.prod-right p {
    padding-bottom: 0.6rem;
}
.share-socia {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}
.prod__tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    color: #9f9f9f;
    cursor: pointer;
    gap: 5rem;
    margin-block: 3rem;
    transition: all 0.4s;
    font-weight: 400;
}
.prod__tab-item:active,
.prod__tab-item .active {
    color: #333333;
}
.prod__tab-item.active {
    color: #333333;
}
.prod__long-desc--text1,
.prod__long-desc--text2 {
    margin-block: 2rem;
    font-size: 1.6rem;
    line-height: 1.5;
    padding-inline: 5rem;
    font-weight: 400;
    color: #9f9f9f;
}
.prod__long-desc-images {
    display: flex;
    gap: 3rem;
}
.prod__long-desc-img {
    background-color: #f9f1e7;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.prod__long-desc-im img {
    width: 100%;
}
.divider {
    width: 100%;
}
.relatad-prod-heading {
    text-align: center;
    margin-block: 2rem;
}
.related-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}
.related-btn {
    margin-bottom: 20rem;
}
.checkout-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
.checkou-overlay-contents {
    position: absolute;
    right: 0;
    padding: 2rem;
    background-color: #f9f1e7;
    margin-inline: auto;
    width: 41.7rem;
}
.checkout__overlay-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 2rem;
    border-bottom: 1px solid #9f9f9f;
    padding-bottom: 1rem;
    cursor: pointer;
}
.checkout__overlay-header h2 {
    font-size: 2.4rem;
    font-weight: 600;
    color: #333333;
}
.checkout__items {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-top: 3rem;
    position: relative;
}
.product__info h2,
.sub-total h2 {
    color: #666;
    font-weight: 400;
}

.checkout__items::after {
    content: 'x';
    display: block;

    background-color: #fff;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 0.2rem 0.8rem;
    border-radius: 2rem;
    font-size: 1.3rem;
    color: #9f9f9f;
    cursor: pointer;
}

.product__info {
    padding-top: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
    position: relative;
}
.product__info span:nth-child(3) {
    color: #b88e2f;
}
.sub-total {
    margin-top: 10rem;
    display: flex;
    align-items: center;
    gap: 10rem;
    padding-bottom: 1rem;
    font-size: 1.6rem;
    border-bottom: 1px solid #9f9f9f;
}
.sub-total span {
    color: #b88e2f;
    font-weight: 400;
}
.checkout-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 2rem;
}
.checkout-btns a {
    color: #333333;
    font-size: 1.2rem;
    font-weight: 400;
    border: 1px solid #9f9f9f;
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 2rem;
}

/* carts styling*/

.cart {
    display: flex;
    align-items: center;

    justify-content: center;
    gap: 5rem;
}
.cart-input {
    width: 3rem;
    height: 3rem;
    border: 1px solid #9f9f9f;
    padding-left: 0.6rem;
    text-align: center;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}
.cart-table tr td {
    padding: 3rem;
}
th,
td {
    padding: 1rem;
    text-transform: capitalize;
    text-align: left;
    font-size: 1.4rem 1.8rem;
}
thead th {
    background-color: #f9f1e7;
    padding: 1.4rem;
}

.tbody {
    padding-top: 4rem;
    cursor: pointer;
}
th {
    font-weight: 500;
    color: #333;
}
td {
    font-weight: 400;
    color: #9f9f9f;
}

.cart-subtotal {
    color: #333;
}
.cart-total {
    background-color: #f9f1e7;
    padding: 3rem;
}

.cart-total h2 {
    font-size: 3.2rem;
    font-weight: 600;
    color: #333333;
    margin-bottom: 1rem;
    text-align: center;
}

.cart-text-items li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding-block: 2rem;
    font-weight: 400;

    font-size: 1.6rem;
    color: #3a3a3a;
}
.subtotal {
    color: #9f9f9f;
}

.total {
    color: #b88e2f;
    font-size: 2.4rem;
}

.cart-buttons {
    display: flex;
    justify-content: center;

    margin-block: 1rem;
}
.cart-buttons a {
    color: #333;
    font-size: 1.6rem;
    font-weight: 400;
    border: 1px solid #9f9f9f;
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 2rem;
}

.checkout {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    justify-content: center;

    margin-inline: auto;
    width: 80%;
    gap: 10rem;
}

.form-group label,
textarea {
    display: block;
    margin-block: 1rem;
    font-size: 1.6rem;
    color: #333;
    font-weight: 400;
    text-align: left;
    resize: none;
}
.form-group input,
textarea,
select {
    width: 100%;
    border: 1px solid #9f9f9f;
    padding: 1.3rem;
    font-size: 1.6rem;
    border-radius: 1rem;
    outline: none;
}

.fname-lname {
    display: flex;
    gap: 2rem;
}
.active-method {
    color: #333;
}

.method__details li {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-block: 0.8rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: #9f9f9f;
    cursor: pointer;
}
.method-info p,
.method__instruction p {
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 400;
    color: #9f9f9f;
    margin-bottom: 1rem;
}
.method__instruction p {
    color: #333;
    margin-block: 1rem;
}

.method__instruction p a {
    color: #b88e2f;
}

.contact {
    margin-inline: auto;
    width: 80%;
    gap: 10rem;
}
.contact__heading {
    text-align: center;
    width: 70%;
    margin-inline: auto;
    margin-block: 2rem;
}

.contact-contents {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin-top: 8rem;
}
.contact__heading h2 {
    font-size: 3.6rem;
    font-weight: 600;
    color: #333;
    line-height: 1.4;
}

.contact__heading p {
    font-size: 1.6rem;
    color: #9f9f9f;
    font-weight: 400;
    line-height: 1.4;
}
.contact__textbox li {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding-bottom: 6rem;
}
.contact__textbox h2 {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #333;
}
.contact__textbox p {
    font-size: 1.6rem;
    color: #9f9f9f;
    line-height: 1.5;
}
.submitbtn {
    padding: 1rem 5rem;
    color: #f9f1e7;
    background-color: #b88e2f;
    font-size: 1.6rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
    display: inline-block;
    transition: all 0.4s;
}
.submitbtn:hover {
    background-color: transparent;
    color: #333;
    border: 1px solid #9f9f9f;
}
